@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $bg-main;
  color: $text-main;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button {
  font-family: inherit;
}
